# MongoDB connection string
# Local example: mongodb://localhost:27017/task_app
# Atlas example: mongodb+srv://<user>:<password>@cluster0.mongodb.net/task_app
MONGODB_URI=mongodb://localhost:27017/task_app
PORT=3000
